.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;

  .channelsList {
    background-color: brown;
    flex: 1;
  }

  .messages {
    background-color: bisque;
    flex: 4;
  }
}
